article {
  width: 90%;
  max-width: 660px;
  margin: 100px auto;
}

article small {
  color: #aaa;
}

.wrapper-code {
  border-left: 0.4rem solid #551a8b;
  background-color: #c4c5c3;
  padding: 12px;
  border-radius: 4px;
}
